/*a_2_joinBox.css*/
/*joinBox--------------------------------*/
.joinBox{width: 100%;height: auto;}

/*tit--------------------------------*/
.title{width: 180px;}


/*customArea 회원구분--------------------------------*/
.customArea{width: 100%;height: 60px;}
  .customArea>div{float: left;padding: 0 28px;box-sizing:border-box;}
  .customArea>div.member{width:30% ;height: 100%;border-right: 5px solid #DF1566;}
    .customArea>div.member>h3{text-align: right;font-size:1rem;line-height: 60px;}
 
  .customArea>div.alone{width: 70%;height: 100%;}
    .customArea>div.alone form{float: left;padding: 15px 0;}



/*advice 기본정보--------------------------------*/
.advice{width: 580px;height: auto;margin:auto;padding: 60px;box-sizing: border-box;}
.advice legend{font-size: 25px;margin-bottom: 30px}
.advice input{width: 100%;height: 60px;background-color: #eee;margin-bottom: 30px;border-left:3px solid #DF1566;}
.advice input[placeholder]{padding: 0 20px;box-sizing: border-box;}


/*agree--------------------------------*/
.agree_area{width: 960px;height: auto;background-color: #eee;margin: 0 auto;padding: 30px;box-sizing:border-box; margin-bottom: 30px; }
.agree_area>div{border-bottom: 1px solid #333;}
.agree_all{width:auto ;height:auto ;padding-bottom:10px;box-sizing: border-box;}
.agree_all>div{float: left;}
/*.agree_all>div.agree_text{width: ;height: ;}*/

.agree_scroll{width:100% ;height:200px;padding: 0.5rem;box-sizing:border-box;overflow: hidden;}
.agree_scroll>span{display: block;width: 100%;height: 80%;overflow-y:scroll;overflow-x:hidden;padding-right: 5rem;margin-bottom: 10px;}

/*.agree_scroll>ul{width: 100%;height: 20%;}*/
.agree_scroll>ul>li{width: auto;height: auto;float: left;margin-right: 10px;}
.agree_question{width:100% ;height:auto ;padding: 10px;box-sizing: border-box;}
.agree_question>div>ul{width: 100%;height: 100%;}
.agree_question>div>ul>li{float: left;margin-right: 20px;margin-bottom: 10px}





/*join_btn--------------------------------*/
.join_btn{width: 150px;height: 45px; border:1px solid #aaa;border-top: 5px solid #DF1566;margin: 0 auto;margin-bottom: 30px;}
.join_btn>button{width: 100%;height: 100%;background-color: inherit;text-align: center;line-height: 45px;}























