/*b_brandBox.css*/
/*#brandBox{margin: auto;}*/
.title{width:170px ;}
.brand_area{width: 960px;height: auto;margin: auto;}

  .brand_area>div{width: 100%;height: auto;padding:60px 100px;box-sizing: border-box;}
/*글자--------------------*/
    .brand_content{width: 600px;margin: auto;
     }
      .brand_title{margin-bottom: 60px;font-size:25px;font-weight: bold;
      }
      .brand_model{margin-bottom: 20px;}

      /*사진---------*/
    .brand_area>.brand_pic{width: 500px;height: 500px;margin: auto;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -ms-background-size: contain;
      -o-background-size: contain;
      background-size: contain;}
      .brand_pic.pic_01{background-image: url(../../img/brand/1_p.png);}
      .brand_pic.pic_02{background-image: url(../../img/brand/2_p.png);}
